html {
  font-family: sans-serif;
  text-align: justify;
}
h1 {
  font-size: 4rem;
  font-family: "Sacramento", cursive;
}
h2 {
  color: rgb(33, 112, 173);
  font-family: Georgia, "Times New Roman", Times, serif;
}
a {
  text-decoration: none;
  color: black;
}
.background p {
  font-size: 200%;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}
.background {
  background-image: url(./Assests/image.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.grid-container {
  display: grid;
  width: 70%;
  gap: 50px;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
}
#intro img {
  height: 250px;
  width: 220px;
  border-radius: 50%;
}
#skill {
  float: left;
  height: 100px;
  margin-right: 20px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffd6ba;
  height: 200px;
  margin-top: 100px;
  text-align: center;
}
section {
  margin-top: 100px;
  padding: 10px;
}
#contact {
  border: white;
  background-color: rgb(0, 153, 255);
  color: white;
  border-radius: 20px;
  font-size: larger;
}
hr {
  width: 80%;
}
p {
  padding: 10px;
  width: 75%;
}
@media (max-width: 950px) {
  #java,
  #web-dev {
    grid-column: span 2;
  }
}
